body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #000000, #2e2e2e, #1d1d1d);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f39c12;
}

.voltarHome {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 45px;
    height: 45px;
    background-color: #f39c12;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltarHome:hover {
    background-color: #e67e22;
}

main {
    width: 80%;
}

header {
    color: #f39c12;

}

.kpi-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 0.75rem;
    text-align: center;
    backdrop-filter: blur(6px);
}

.chart-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 0.75rem;
}

.text-lg {
    font-size: 1.125rem;
    /* Tamanho da fonte grande */
    line-height: 1.75rem;
    /* Altura da linha */
}

.mb-4 {
    margin-bottom: 1rem;
    /* Espaçamento inferior */
}