body{
    background: linear-gradient(135deg, #0f0f0f, #1f1f1f);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apresentacao {
    background-image: url('../imagens/body/backgroud2.png');
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    font-family: "fontParagrafo";
}

.apresentacao .container{
    backdrop-filter: blur(3px);
    opacity: 100%;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    font-family: "fontParagrafo";
}

.teste {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 300px;
    margin-top: 5%;
}

.filho {
    width: 100%;
    height: 300px;
    display: flex;
    opacity: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    color: var(--branco);
    font-size: 50px;
    text-align: center;
    animation: 2.5s forwards dia;
}


.teste .filho .btn_garagem {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-botao);
    width: 35%;
    font-size: 30px;
    height: 60px;
    border-radius: 5px;
    color: var(--branco);
    border: 1px solid var(--branco);
    padding: 20px 0;
}

@keyframes blur {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

@keyframes dia {
    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;

    }
}

.texto h1 span{
    font-family: 'fontTitulo';
}

/*Main 2*/
.mapa{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mapa h1{
    margin: 30px 0;
    color: var(--branco);
}


.mapa picture{
    background-image: url(../imagens/body/mapa.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*Main 3*/
.sobre {
    border-top: 10px double var(--branco);
    background: #202020c9;
    color: var(--branco);
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre .h1-sobre{
    margin-top: 30px;
}

.sobre .container{
    color: var(--branco);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.sobre .container .imagemCarro{
    height: 250px;
    width: 45%;
}
.sobre .container img{
    width: 100%;
    background-size: cover;
}

.sobre .container .texto{
    width: 50%;
}

/*Main 4*/
.servico {
    border-top: 10px double var(--branco);
    background: #202020c9;
    color: var(--branco);
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.servico .h1-interacao{
    margin-top: 30px;

}
.servico .container{
    color: var(--branco);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.servico .container .imagemCarro{
    height: 250px;
    width: 45%;
}
.servico .container img{
    width: 100%;
    background-size: cover;
}

.servico .container .texto{
    width: 50%;
    padding: 50px;
}


footer{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #000;
        border-top: 10px double var(--branco);
        color: var(--branco);
}