nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--preto-transparent);
    border-bottom: 10px double var(--branco);
}

nav picture {
    font-size: 30px;
    color: var(--branco);
    font-family: 'fontTitulo';
}

nav ul {
    display: flex;
    width: 300px;
    list-style: none;
    justify-content: space-between;
}

nav ul li:hover{
    border-bottom: 1px dashed var(--branco);
    transition: 0.3s;
    transform: translateY(5%);
}

nav ul li a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
}

nav .div_btn {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

nav .div_btn .btn_cadastro,
.btn_login {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--branco);
}

nav .div_btn .btn_cadastro {
    background-color: transparent;
    color: var(--branco);
    border: 2px solid var(--branco);
}